/* created by risyandi - 2019
 */

/* general */
 .main-wrapper {
    margin: auto;
    text-align: center;
}

.main-logo {
    font-size: 20px;
    color: black;
}

.main-logo:hover {
    color: lightseagreen;

}

/* element */
.select,
.select label {
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;
    font-family: Arial, 'Helvetica', sans-serif;
    font-weight: bold;
}

.select select {
    width: 100%;
}

video {
    background: #222;
    margin: 0 0 20px 0;
    width: 100%;
}